<div class="portfolio">
  <section class="content">
    <!-- <img src="https://api.readyplayer.me/v1/avatars/659014e59e1b858d3d3108a4.png?cacheControl=true&uat=2023-12-30T13:11:53.206Z" alt="Ahmed Tabib Avatar"> -->
    <canvas #myCanvas width="400" height="400"></canvas>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt quo amet necessitatibus voluptates ratione sapiente cum. Culpa, aspernatur deserunt aperiam ipsam et voluptate? Aperiam voluptatem placeat sed nulla doloribus.</p>
  </section>
  <section class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt quo amet necessitatibus voluptates ratione sapiente cum. Culpa, aspernatur deserunt aperiam ipsam et voluptate? Aperiam voluptatem placeat sed nulla doloribus.</p>
  </section>
  <section class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt quo amet necessitatibus voluptates ratione sapiente cum. Culpa, aspernatur deserunt aperiam ipsam et voluptate? Aperiam voluptatem placeat sed nulla doloribus.</p>
  </section>
  </div>
