// Typography
$base-font-size: 16px;
$rem-base: 1rem;

// Colors
$primary-color: #3498db;
$background-color: #ffffff;
$text-color: #333333;

// Border
$border-radius: 14px;
// Spacing
$base-spacing: $rem-base;
